# Ignore  .env files 
.env*
.env.example

# Ignore OS metadata
._*

# Ignore local development files
*.local

# Ignore logs and databases
*.log
*.sql
*.sqlite

# Ignore package manager specific files
yarn.lock
package-lock.json
pnpm-lock.yaml
node_modules